*{
  margin:0;
  padding:0;
  font-family:"Helvetica", "Arial";
}


body{
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#323232;
  background-size:16px 16px;
}


a, a:visited, a:hover{
  color:black;
  text-decoration:none;
}


.link{
  color:#007aff;
}
.link:visited{
  color:#007aff;
}
.link:hover{
  color:#ff9500;
  text-decoration:underline;
}


.onpage-link{
  display:block;
  padding:1px;
  color:#007aff;
  border:1px dotted #007aff;
  border-width:0px 0px 1px 0px;
  cursor:pointer;
}
.onpage-link:hover{
  color:#ff9500;
  border-color:#ff9500;
}


.button{
  background-color:#efeff4;
  border:0px;
  border-radius:0px;
  padding:15px 25px;
  font-size:16px;
  cursor:pointer;
}
.button:hover{
  background-color:#007aff;
  color:white;
}


.form{}
.form__textarea, .form__input-text{
  padding:7px;
  font-size:15px;
  outline:none;
  border:1px solid #c8c7cc;
}


.red{
  color:red;
}


.white-substrate{
  z-index:1;
  background-color:white;
  position:fixed;
  top:0px;
  bottom:0px;
  left:50%;
  margin-left:-480px;
  width:960px;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}


.container{
  z-index:2;
  position:relative;
  background:white;
  width:960px;
  margin:0 auto;
}
.container__row{
  position:relative;
}


.main-title{
  padding:15px 0px;
  font-size:30px;
  width:200px;
  height:70px;
  text-align:center;
  display:inline-block;
}
.main-title__city{
  font-size:18px;
  color:#ff9500;
}

.theses{
  overflow:hidden;
  width:760px;  
  position:absolute;
  height:100px;
  top:0px;
  right:0px;
}
.theses__white-fader{
  position:absolute;
  background-color:white;
  z-index:4;
  width:100%;
  height:100%;
  opacity:0.5;
}
.theses__thesis{
  z-index:3;
  position:absolute;
  white-space:nowrap;
  font-family:"Courier New", monospace;
}
.theses__thesis_1{
  color:#4cd964;
  font-size:18px;
  right:5px;
  top:17px;
}
.theses__thesis_2{
  color:red;
  font-size:18px;
  right:350px;
  top:40px;
}
.theses__thesis_3{
  font-size:20px;
  right:130px;
  top:50px;
}
.theses__thesis_4{
  color:#007aff;
  font-size:24px;
  right:270px;
  top:70px;
}
.theses__thesis_5{
  top:7px;
  left:10px;
  font-size:18px;
}
.theses__thesis_6{
  color:#8e8e93;
  top:65px;
  right:50px;
  font-size:17px;
}
.theses__thesis_7{
  color:#8e8e93;
  top:50px;
  right:450px;
  font-size:17px;
}


.menu{
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
}
.menu__item{
  display:block;
  padding:15px 50px;
  font-size:18px;
  color:black;
  background-color:#efeff4;
  text-decoration:none;
  border-top:1px solid #c8c7cc;
  text-align:center;
}
.menu__item:hover{
  background-color:#007aff;
  color:white;
}
.menu__item_state_current{
  color:white !important;
  background-color:#007aff;
}


.page{
  margin-left:200px;
  padding:0px 15px 30px 10px;
  width:730px;
  border-top:1px solid #c8c7cc;
}
.page__title{
  font-size:22px;
  padding:20px 0px 10px 0px;
}
.page__text{
  font-size:14px;
}
.page__subsection__title{
  font-size:16px;
  padding:7px 0px;
}
.page__subsection__text{
  font-size:14px;
}


.people-list{
  margin-top:10px;
}
.people-list__member{
  float:left;
  position:relative;
  margin-top:10px;
  width:350px;
}
.people-list__member:hover .people-list__member__name{
  color:#ff9500;
}
.people-list__member:hover .people-list__member__avatar{
  border-color:#ff9500;
}
.people-list__member__avatar{
  width:100px;
  height:100px;
  overflow:hidden;
  text-align:center;
/*  border-radius:50%;*/
  border:3px solid #efeff4;
}
.people-list__member__avatar__photo{
/*  width:140px;*/
  min-height:100px;
  min-width:100px;
  max-height:200px;
  max-width:150px;
  position:relative;
  right:20px;
}
.people-list__member__name{
  position:absolute;
  top:43px;
  left:115px;
  width:200px;
  height:30px;
}


.social-icon{
  display:inline-block;
  width:44px;
  height:44px;
  margin:2px;
  background:url("/shri-exam/images/social-icons-sprite.png") no-repeat;
}
.social-icon_set_facebook{
  background-position: 0px 0px;
}
.social-icon_set_yaru{
  background-position: -44px 0px;
}
.social-icon_set_github{
  background-position: -88px 0px;
}
.social-icon_set_vk{
  background-position: -132px 0px;
}


.member-card{
  position:relative;
}
.member-card__avatar{
  margin:15px 0px;
  width:350px;
  height:350px;
  overflow:hidden;
}
.member-card__avatar__photo{
  width:450px;
}
.member-card__name{
  position:absolute;
  left:370px;
  top:10px;
  font-size:22px;
}
.member-card__social-links{
  position:absolute;
  left:370px;
  top:50px;
}
.member-card__about{
  font-size:14px;
  margin-bottom:15px;
}
.member-card__lectures-list{
  margin-top:5px;
  font-size:14px;
}
.member-card__lectures-list__item{
  margin-top:2px;
}


.lectures-list{}
.lectures-list__lecture{
  margin:7px 0px;
}
.lectures-list__lecture__marker{
  float:left;
  width:0px;
  height:0px;
  border:10px solid #c8c7cc;
  border-radius:50%;
  margin:2px 5px 5px 5px;
}
.lectures-list__lecture__name{
  font-size:16px;
}
.lectures-list__lecture__lector{
  font-size:14px;
  margin-top:3px;
}
.lectures-list__lecture__lector__link:hover{
  text-decoration:underline;
}


.lecture{
  position:relative;
}
.lecture__name{
  font-size:22px;
  margin:10px 0px;
}
.lecture__lector__name{
  margin-bottom:3px;
}
.lecture__lector__avatar__photo{
  width:250px;
}
.lecture__video, .lecture__slides{
  margin-top:10px;
}
.lecture__comments{
  margin-top:20px;
}
.lecture__comments__title{
  font-size:20px;
  margin-bottom:10px;
}
.lecture__comments__write{
  width:73px;
  margin:5px 0px;
}
.lecture__comments__new{
  display:none;
}
.lecture__comments__new__text{
  width:710px;
  margin-bottom:7px;
}
.lecture__comments__new__author{
  margin-left:10px;
}
.lecture__comments__new__submit{
  float:right;
  margin-right:3px;
}

/* Social widgets */
#vk_groups1, #vk_groups2{
  float:left;
}
.twitter-timeline.twitter-timeline-rendered{
  margin-top:15px;
  clear:both;
  width:100%;
}
/* Social widgets */